.my-section{
    position: relative;
}
.videos video{
    width: 100%;
    height: 75vh;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header-line{
    width: 100%;
    height: 1.5px;
    background-color: #61a2d7;
}
.fx-mg{
    margin-top: 0 !important;
}
.rectangle{
    width: 110px;
    height: 5px;
    background-color: #61a2d7;
}
.specail-sign{
    margin: 2rem 0;
}
.box-content{
    height: 400px;
    width: 100%;
    background-color: cadetblue;
}
.category-name{
    color: #61a2d7;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
    margin-bottom: 1rem;
}
.category-name:hover{
    color: yellow;
    cursor: pointer;
}
.main-content-category{
    display: flex;
}
.box-container{
    display: flex;
    gap: 0.5rem;
    overflow-x: scroll;
}
.box-item{
    width: 600px;
    height: 200px;
    background-color: blue;
}
.slider-container{
    position: relative;
    overflow-x: hidden;
    height: 200px;
    background-color: cyan;
}
.slider-width{
    position: absolute;
    display: flex;
    gap: 1rem;
    align-items: start;
    justify-content: start;
    left: 0;
    top: 0;
    transition: 0.4s ease-in-out;

}
.item{
    background-color: red;
    width: 300px;
    height: 200px;
}
.carousel-container {
    width: 100%;
    position: relative;
    border-left-width: 4px;
  }
  .inner-carousel {
    width: 100%;
    overflow: hidden;
  }
  .track {
    display: inline-flex;
    width: 100%;
    transition: transform 0.2s ease-in-out
  }
  .card-container {
    width: 25%;
    height: 280px;
    flex-shrink: 0;
    padding-right: 1.5rem;
    cursor: pointer;
  }
  .mycard {
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-size: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .nav-container{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: auto;
  }
  .nav{
    gap: 1rem;
  }
  .prev{
    display: none;
  }
  .show{
    display: block !important;
    cursor: pointer;
  }
  .next{
    cursor: pointer;
  }
  .hide{
    visibility: hidden !important;
  }
  .mycard img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .description{
    padding: 10px;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .description a{
    font-size: 19px;
    font-weight: bold;
    line-height: 1;
  }
  .mycard{
    border: none ;
  }
  .mycard:hover{
    border: 1.5px solid rgba(0, 0, 0, .125);
  }
  .card-container:hover .mycard .description a{
    text-decoration: underline !important;
  }
  

  @media (max-width: 768px) {
    .carousel-container {
      width: 95%;
    }
  }