/*Science Header*/
body{
    margin: 0px;
}
.navbarHeader ul{
    width: 100%;
    list-style-type: none;
    background-color: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
}
.navbarHeader a{
    text-decoration: none;
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0c0c0c !important;
    cursor: pointer;  
    pointer-events:visiblePainted;
}
.navbarHeader a:hover{
    background-color: none;
}
.navbarHeader li{
    float: left;
    margin-right: 50px;
}
.h1{
    text-decoration: none;
    text-align: left;
    padding: 15px;
}
.navbar ul{
    width: 100%;
    list-style-type: none;
    background-color: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(0, 255, 238);
}
.navbar li{
    float: left;
}

/*MY NEWS ITEMS*/
.row1{
    background: none;
    display: flex;
    height: 88%;
    align-items:center;
}
.col11{
    background: rgb(98, 255, 0)(254, 172, 172);
    float: left;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    height: 590px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.loading{
    background-color: none;    
    min-height: 100px;
    position: relative;
    overflow: hidden;
    align-items: center;
    border-radius: 15px;
    flex-basis: 50%;
    width: 500px;
    height: 300px;
    left: 25%;
}
.loading::before{
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #fff, transparent);
    transform: translate(-100%);
    animation: loading 5s infinite;
    align-items: center;

}

.item1 {
    min-height: 20px;
    border-radius: 40px;
    box-shadow: 20px 20px 0px -2px rgb(0,0,0,0.32);
    padding: 40px;
    margin: 0 auto;
    display: block;
    height: 400px;
    background-image: url(/technology-website1/images/sciMT/image/m\ \(10\).jpg);

}

.headAni{
    color: #fff;
    font-size: 30px;
    left: 0;
    text-shadow: 0 0 5px #ffffff;

}
.contentAni{
    background: none;
    color: #fff;
    align-items: center;
    font-size: 17px;
    flex-basis: 50%;
    margin-left: 0%;
    width: 500px;
    height: 120px;
    left: 0;
}
@keyframes loading{
    from 100%{
        transform: translate(100%);
    }
    to {
        transform: translate(80%);
    }
}

.col12{
    float: left;
    flex-basis: 50%;
    background-color: none;
    height: 590px;
}
.card{
    width: 200px;
    height: 230px;
    font-size: 18px;
    float: left;
    align-items: center;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    color: #ffffff;
}
.card1{
 
    background-image: url(/technology-website1/images/sciMT/image/m\ \(11\).jpg);
}
.card2{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(12\).jpg);
}
.card3{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(13\).jpg);
}
.card4{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(14\).jpg);
}
.card5{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(15\).jpg);
}
.card6{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(16\).jpg);
}
.card:hover{
    transform: translateY(-15px);
}
.hArtCard{
    color: #fff;
    text-shadow: 0 0 5px #ffffff;
    font-size: 25px;
}
.pArtCard{
    text-align: left;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    background-color: rgba(68, 16, 96, 0.31);
}
.asideSci{
    width: 35%;
}
.asideSciContainer{
    padding: 25px;
}
.asideSciHead{
    color: #ffffff;
    text-align: center;
    border-bottom: 40px solid rgb(158, 25, 131);
	border-right: 25px solid transparent;
	height: 40px;
	width: 200px;
    position: relative;
}
.asideSciHead span{
    position: relative;
    top: 5px;
    left: 15px;
    color: #fff;
    font-size: 25px;
    font-weight: 100;
}
.headSciline{
    position: relative;
    border-bottom: 5px solid rgb(158, 25, 131);
    width: 665px;
    left: 0;
    bottom: -5px;
}
.row2{
    background: none;
    display: flex;
    height: 88%;
    align-items:center;
}
.col21{
    width: 100%;
    height: 350px;
    float: left;
}
.card21{
    width: 200px;
    height: 230px;
    font-size: 18px;
    float: left;
    align-items: center;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    color: #ffffff;
}
.card211{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(18\).jpg);
}
.card212{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(19\).jpg);
}
.card213{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(1\).jpg);
}
.card214{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(2\).jpg);
}
.card215{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(3\).jpg);
}
.card216{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(4\).jpg);
}
.card21:hover{
    transform: translateY(-15px);
}
.col21 .headSciline{
    position: relative;
    border-bottom: 5px solid rgb(158, 25, 131);
    width: 1355px;
    left: 0;
    bottom: -5px;
}
.row3{
    background: none;
    display: flex;
    height: 88%;
    align-items:center;
}
.col31{
    background: none;
    color: #ffffff;
    width: 100%;
    height: 600px;
    flex-basis: 50%;
}
.card31{
    width: 200px;
    height: 230px;
    float: left;
    align-items: center;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card31:hover{
    transform: translateY(-15px);
}
.card311{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(4\).jpg);
}
.card312{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(5\).jpg);
}
.card313{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(6\).jpg);
}
.card314{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(7\).jpg);
}
.card315{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(8\).jpg);
}
.card316{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(9\).jpg);
}
.card31 .headSciline{
    position: relative;
    border-bottom: 5px solid rgb(158, 25, 131);
    width: 1355px;
    left: 0;
    bottom: -10px;
}
.col32{
    background: none;
    color: #ffffff;
    width: 100%;
    height: 600px;
    flex-basis: 50%;
}
.card32{
    width: 200px;
    height: 230px;
    float: left;
    align-items: center;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card32:hover{
    transform: translateY(-15px);
}
.card321{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(10\).jpg);
}
.card322{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(11\).jpg);
}
.card323{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(12\).jpg);
}
.card324{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(13\).jpg);
}
.card325{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(14\).jpg);
}
.card326{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(15\).jpg);
}
.card32 .headSciline{
    position: relative;
    border-bottom: 5px solid rgb(158, 25, 131);
    width: 1355px;
    left: 0;
    bottom: -10px;
}
.row4{
    display: flex;
    height: 88%;
    align-items:center;
    background-color: hsl(from color h s l);
}
.col41{
    background-color: none;
    width: 100%;
    height: 350px;
}
.card411{
    width: 200px;
    height: 230px;
    float: left;
    align-items: center;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 10px 15px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    color: #ffffff;
}
.card411{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(16\).jpg);
}
.card412{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(17\).jpg);
}
.card413{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(18\).jpg);
}
.card414{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(19\).jpg);
}
.card415{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(20\).jpg);
}
.card416{
    background-image: url(/technology-website1/images/sciMT/image/m\ \(1\).jpg);
}
.card41:hover{
    transform: translateY(-15px);
}
.col41 .headSciline{
    position: relative;
    border-bottom: 5px solid rgb(158, 25, 131);
    width: 1355px;
    left: 0;
    bottom: -5px;
}

/*FooterPart*/
.footerPart{
    background: #000000;
    width: 100%;
    height: 700px;
    display: flex;
    bottom: 0;
}
.footerP{
    border-bottom: 1px solid #0074b6;
    margin-top: 8rem;
  }
.txt_footer{
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 2px;
}
.subscribe{
    font-size: 18px;
    font-weight: 600;
    color:#0074b6;
}
.btn_subscribe{
    border: none;
    background: #0074b6;
    color: #fff;
    border-radius: 19px;
    height: 35px;
    width: 140px;
}
#footer_chevron{
    margin-right: 10px;
    color:#0074b6;
}
.txt_research{
    font-size: 18px;
    color:#0074b6;
    font-weight: 600;
}
.category_footer{
    border-bottom: 1px solid #0074b6;
}
#text_category{
    color: #fff;
}

  /* end footer  */
  

